<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lesson</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/lesson.css') }}" />
  </head>
  <body>
    <div class="group-4">
      <div class="desktop-1">
        <div class="rectangle-22">
        </div>
        <div class="container-1">
          <div class="container-4">
            <span class="option-1">
            option 1
            </span>
          </div>
          <div class="container">
            <span class="option-3">
            option 3
            </span>
          </div>
        </div>
        <div class="container-6">
          <div class="container-5">
            <span class="option-2">
            option 2
            </span>
          </div>
          <div class="container-2">
            <span class="option-4">
            option 4
            </span>
          </div>
        </div>
        <div class="container-3">
          <span class="submit">
          submit
          </span>
        </div>
      </div>
    </div>
  </body>
</html>