<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/main.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.svg') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/5668ff9fc0.js" crossorigin="anonymous"></script>
    <title>Mnogomov | Main</title>
</head>
<body>
<div class="main-container">
    <div class="lessons-section">
        <div class="unit">
            <h1 class="unit-title">Unit 1: Introduction</h1>
            <div class="unit-lessons">
                <div class="lesson">
                    <span class="lesson-progress-bar"></span>
                    <div class="lesson-main-field">
                        <h1 class="lesson-title">Lesson №1.1: Some lesson name</h1>
                        <button class="lesson-begin-button" onclick="">Begin</button>
                    </div>
                    <div class="lesson-options">
                        <button class="lesson-about">About <i class="fa-solid fa-caret-down"></i></button>
                        <div class="lesson-about-dropdown">

                        </div>

                        <div class="lesson-tips">Tips <i class="fa-solid fa-caret-down"></i></div>
                        <div class="lesson-tips-dropdown">

                        </div>

                        <div class="lesson-exercise-list">
                            Ex. List <i class="fa-solid fa-caret-down"></i>
                            <div class="lesson-exercise-list-dropdown">
                                <div class="lesson-progress">
                                    <span>Lesson 1</span>
                                    <span class="current-progress"></span>
                                </div>
                                <div class="lesson-progress">
                                    <span>Lesson 2</span>
                                    <span class="current-progress"></span>
                                </div>
                                <div class="lesson-progress">
                                    <span>Lesson 3</span>
                                    <span class="current-progress"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="lesson">
                    <span class="lesson-progress-bar"></span>
                    <div class="lesson-main-field">
                        <h1 class="lesson-title">Lesson №1.2: Some lesson name</h1>
                        <button class="lesson-begin-button" onclick="">Begin</button>
                    </div>
                    <div class="lesson-options">
                        <div class="lesson-about">About <i class="fa-solid fa-caret-down"></i></div>
                        <div class="lesson-tips">Tips <i class="fa-solid fa-caret-down"></i></div>
                        <div class="lesson-exercise-list">Ex. List <i class="fa-solid fa-caret-down"></i></div>
                    </div>
                </div>

                <div class="lesson">
                    <span class="lesson-progress-bar"></span>
                    <div class="lesson-main-field">
                        <h1 class="lesson-title">Lesson №1.3: Some lesson name</h1>
                        <button class="lesson-begin-button" onclick="">Begin</button>
                    </div>
                    <div class="lesson-options">
                        <div class="lesson-about">About <i class="fa-solid fa-caret-down"></i></div>
                        <div class="lesson-tips">Tips <i class="fa-solid fa-caret-down"></i></div>
                        <div class="lesson-exercise-list">Ex. List <i class="fa-solid fa-caret-down"></i></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="unit">
            <h1 class="unit-title">Unit 2: Something</h1>
            <div class="unit-lessons">
                <div class="lesson">
                    <span class="lesson-progress-bar"></span>
                    <div class="lesson-main-field">
                        <h1 class="lesson-title">Lesson №2.1: Some lesson name</h1>
                        <button class="lesson-begin-button" onclick="">Begin</button>
                    </div>
                    <div class="lesson-options">
                        <div class="lesson-about">About <i class="fa-solid fa-caret-down"></i></div>
                        <div class="lesson-tips">Tips <i class="fa-solid fa-caret-down"></i></div>
                        <div class="lesson-exercise-list">Ex. List <i class="fa-solid fa-caret-down"></i></div>
                    </div>
                </div>

                <div class="lesson">
                    <span class="lesson-progress-bar"></span>
                    <div class="lesson-main-field">
                        <h1 class="lesson-title">Lesson №2.2: Some lesson name</h1>
                        <button class="lesson-begin-button" onclick="">Begin</button>
                    </div>
                    <div class="lesson-options">
                        <div class="lesson-about">About <i class="fa-solid fa-caret-down"></i></div>
                        <div class="lesson-tips">Tips <i class="fa-solid fa-caret-down"></i></div>
                        <div class="lesson-exercise-list">Ex. List <i class="fa-solid fa-caret-down"></i></div>
                    </div>
                </div>

                <div class="lesson">
                    <span class="lesson-progress-bar"></span>
                    <div class="lesson-main-field">
                        <h1 class="lesson-title">Lesson №2.3: Some lesson name</h1>
                        <button class="lesson-begin-button" onclick="">Begin</button>
                    </div>
                    <div class="lesson-options">
                        <div class="lesson-about">About <i class="fa-solid fa-caret-down"></i></div>
                        <div class="lesson-tips">Tips <i class="fa-solid fa-caret-down"></i></div>
                        <div class="lesson-exercise-list">Ex. List <i class="fa-solid fa-caret-down"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="options-navbar">
        <div class="user-n-language">
            <span id="user-avatar"></span>
            <img id="language-flag" src="{{ url_for('static',filename='img/lang-flags/eng.png') }}" alt="lang-flag">
        </div>
        <div id="options">
            <button class="navbar-option active" id="learn-btn">Learn</button>
            <button class="navbar-option" id="practice-btn">Practice</button>
            <button class="navbar-option" id="dictionary-btn">Dictionary</button>
            <button class="navbar-option" id="profile-btn">Profile</button>
            <button class="navbar-option" id="about-btn">About Us</button>
        </div>
    </div>
</div>

<script src="{{url_for('static', filename='js/main_page/redirectPagesOnMain.js')}}"></script>
</body>
</html>