<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Group 2</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/profile.css') }}" />
  </head>
  <body>
    <div class="group-2">
      <div class="desktop-1">
        <img class="ellipse-1432" src="{{ url_for('static',filename='img/profile_pic.svg') }}" />
        <div class="username">
        username
        </div>
        <div class="container">
          <span class="change-name">
          Change name
          </span>
        </div>
        <div class="container-3">
          <span class="change-photo">
          Change photo
          </span>
        </div>
        <div class="container-2">
          <span class="view-statistics">
          view statistics
          </span>
        </div>
        <div class="container-1">
          <span class="back-to-main">
          back to main
          </span>
        </div>
      </div>
    </div>
  </body>
</html>