<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Group 3</title>
    <link rel="stylesheet" href="C:\Users\pc\Downloads\mnogomov-2-master\frontend\static\style\progress.css" />
  </head>
  <body>
    <div class="group-3">
      <span class="stat">
      stat
      </span>
      <div class="desktop-1">
        <div class="container-10">
          <div class="container-5">
            <span class="chapter-title">
            chapter#: title
            </span>
            <div class="container-3">
              <div class="rectangle-18">
              </div>
            </div>
          </div>
          <div class="container-12">
            <div class="lesson-title">
            lesson title
            </div>
            <div class="container-9">
              <div class="some-info-text">
              some info text
              </div>
              <div class="container-6">
                <span class="start">
                start
                </span>
              </div>
            </div>
          </div>
          <div class="container-14">
            <div class="lesson-title-1">
            lesson title
            </div>
            <div class="container-8">
              <div class="some-info-text-1">
              some info text
              </div>
              <div class="rectangle-20">
              </div>
            </div>
          </div>
          <div class="chapter-title-1">
          chapter#: title
          </div>
          <div class="container-13">
            <div class="container-11">
              <div class="lesson-title-2">
              lesson title
              </div>
              <span class="some-info-text-2">
              some info text
              </span>
            </div>
            <div class="rectangle-21">
            </div>
          </div>
        </div>
        <div class="container-2">
          <img class="ellipse-1433" src="C:\Users\pc\Downloads\mnogomov-2-master\frontend\static\img\lang-flags\icon1.svg" />
          <div class="container-7">
            <span class="lessons">
            Lessons
            </span>
          </div>
          <div class="container-1">
            <span class="practice">
            practice
            </span>
          </div>
          <div class="container">
            <span class="profile">
            profile
            </span>
          </div>
          <div class="container-4">
            <span class="about-us">
            About us
            </span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>